<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>League Build Maker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/publicViewer">Public Builds</a></div>
    <div class="navlink"><a href="/viewer">Personal Builds</a></div>
    <div class="nav-right">
      <a href="/settings"><img id="settings" src="/assets/img/setting.png" alt="settings icon"/></a>
      <div class="navlink"><a href="/logout">Log out</a></div>
    </div>
  </nav>

  <section id="app">

  </section>

  <div id="minionMessage" class='hidden'>
    <div id="speech"></div>
    <span id="errorMinionName">Build Maker (Caster Minion): </span><span id="errorMessage"></span>
    <img id="build" src="/assets/img/minion.png" alt="minion"/>
  </div>
  <script src="/assets/settingsBundle.js"></script>
</body>
</html>
