@font-face {
  font-family: 'Beaufort';
  src: url('/assets/fonts/BeaufortforLOL-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel';
  src: url('/assets/fonts/Spiegel_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel Soft';
  src: url('/assets/fonts/Spiegel_Regular_Soft.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  background-image: url('/assets/img/background.png');
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Spiegel', sans-serif;
}

#logo {
  height: 40px;
  width: 40;
  padding-top: 5px;
  border-radius: 8px;

}

nav {
  background-image: url('/assets/img/navbar.jpg');
  border-width: 2px;
  border-style: solid;
  border-color: #d28a2d;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 25px;
}

.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

nav:nth-child(1) {
  padding-left: 25px;
}

.navlink {
  padding: 5px;
  padding-top: 12px;
  padding-left: 20px;
  color: white;
  font-size: 1.3em;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  background-color: #55acee;
  transition: background-color 0.4s ease;
}

.navlink a:hover {
  transition: background-color 0.8s ease;
  background-color: #66bdff;
}

#settings {
  height: 40px;
  width: 40px;
  padding-top: 5px;
}

/*                     */
/* CSS for build maker */
/*                     */


/* Our build form which contains all of our build making components */
.buildForm {
  width: 800px;
  margin: 50px auto 100px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #55acee8f;
  border-radius: 10px;
  display: block;
  overflow-y: auto;

}

/* Our champion selection row, including the banner, champ dropdown, title, and desc */
.champion-select-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

/* Champ left column incldues banner and champ dropdown */
.champion-left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
}

/* Empty champ banner */
.empty-champion-banner {
  width: 120px;
  height: 200px;
  background-color: #f0f0f0;
}

/* Champ banner */
.champion-banner {
  width: 120px;
  height: auto;
  object-fit: contain;
}

/* our champion dropdown */
.champion-dropdown {
  width: 120px;
}

/* Our build info column, includes title, description, and public status */
.build-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-right: 35px;
}

/* Title row includes title and public check */
.build-title-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Our build title */
.build-title {
  flex: 1;
}

/* Our public checkbox label */
.public-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Our build description box. Need it to take remaining width */
.build-desc {
  width: 100%;
  resize: none;
}

/* Literally just the checkbox label */
.buildForm label {
  display: inline-block;
  font-size: 1em;
  color: white;
}

/* Our submit/cancel buttons at the bottom */
.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 80;
  margin-right: 35px;
}

/* Submit build button */
.make-build-submit {
  transition: background-color 0.4s ease;
  width: 90px;
  background-color: #55acee;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.make-build-submit:link,
.make-build-submit:visited,
.make-build-submit:hover,
.make-build-submit:active {
  color: white;
}

.make-build-submit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
}

/* Cancel build button */
.cancel-build {
  transition: background-color 0.4s ease;
  width: 110px;
  height: 32px;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
}

.cancel-build:link,
.cancel-build:visited,
.cancel-build:hover,
.cancel-build:active {
  color: #f5f5f5;
}

.cancel-build:hover {
  transition: background-color 0.4s ease;
  background-color: #b3b3b3;
}


/*            */
/* Login form */
/*            */

/* Login and signup form */
.mainForm {
  width: 350px;
  font-size: 1.2em;
  margin: 50px auto 100px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #55acee8f;
  border-radius: 10px;
}

/* Form header */
.mainForm h3 {
  text-align: center;
}

/* Labels for username, pass, etc */
.mainForm label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
}

/* Login/signup button */
.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.2em;
  width: 100px;
  background-color: #55acee;
  border-radius: 2px;
  border-color: #66acee;
  padding: 3px 0px;
  color: white;
  text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
  color: white;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
}

/* Text boxes */
#user,
#email,
#pass,
#pass2,
#email {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
  margin-bottom: 5px;
}

#user:focus,
#pass:focus,
#pass2:focus,
#email:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
  display: none;
}

#minionMessage {
  top: 250px;
  width: 250px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
}

#minionMessage h3 {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 20px;
}

/* Error message */
#errorMessage {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

#errorMinionName {
  font-size: 1em;
  color: #3EB8F4;
}

/* Caster minion image */
#build {
  z-index: 225;
  margin-top: -20px;
  margin-left: 35px;
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

/*              */
/* Build Viewer */
/*              */

.app-header {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: -50px;
}

/* Container holding all our builds in the viewer */
#builds {
  width: 65%;
  min-width: 400px;
  border: 2px solid #55acee;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

/* Container for all builds */
.buildList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* Our individual build card */
.build {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 97%;
  min-height: 120px;
  padding: 15px;
  margin: 2px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  position: relative;
}

/* Left column, contains sprite image and champion name */
.build-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  min-width: 120px;
}

/* Our champ's face */
.build-face {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

/* Our champ's name */
.build-champion {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Beaufort', sans-serif;
}



/* Build title */
.build-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Spiegel', sans-serif;
}

/* Build description */
.build-description {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  font-family: 'Spiegel Soft', sans-serif;
}

/*  */
.build-runes-items-skills {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

/* Rune grid section of our build */
.rune-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.rune-columns {
  display: flex;
  gap: 12px;
}

.rune-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.rune-row {
  display: flex;
  gap: 6px;
  margin-bottom: 4px;
}

.rune-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rune-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.build-runes-items-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* When runes are not selected */
.viewer-empty-rune-slot,
.viewer-empty-rune-path-slot,
.viewer-empty-keystone-slot,
.viewer-empty-minor-rune-slot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


/* Our 3 column, 2 row item grid */
.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(2, 40px);
  gap: 6px;
  align-content: center;
}

.item-block img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* Displays when no item is given */
.viewer-empty-item-slot {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  display: inline-block;
}

/* Skill grid */
.build-skills {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(2, 40px);
  gap: 4px;
}

.skills-container {
  align-self: flex-start;
}

.skill-cell {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #222;
  border: 1px solid #555;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #dfb427;
  overflow: hidden;
}

.skill-level {
  position: absolute;
  bottom: 2px;
  right: 4px;
  font-size: 10px;
  color: #ccc;
  z-index: 2;
}

.empty-build-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
}

.empty-build {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.empty-build-sub {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

.build-maker-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #55acee;
  color: white;
  border: none;
  border-radius: 5px;
  align-self: center;
}

.make-build-outside {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: -180px;
}

.build-maker-button:hover {
  background-color: #338acc;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.delete-button img {
  width: 24px;
  height: 24px;
}




/* Descriptor CSS in the build making page. */
.descriptor {
  text-align: center;
}

.descriptor h3 {
  font-size: 1rem;
  font-family: 'Beaufort', sans-serif;
}

.descriptor p {
  font-size: 0.8rem;
  font-family: 'Spiegel Soft', sans-serif;
}


/* Skill Table CSS in build maker */

.skill-table {
  margin: 0 auto;
  border-collapse: collapse;
}

.skill-table td {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
}

.skill-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #032425;
  border: 2px solid #C89E41;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
}

.skill-box.selected {
  background-color: #074f52;
  box-shadow: 0 0 8px #FFD700;
}

.skill-box:hover {
  background-color: #06484a;
  box-shadow: 0 0 4px #FFD700;
}

.skill-letter {
  color: #d28a2d;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s;
}

.skill-box:hover .skill-letter {
  opacity: 0.3;
}

.skill-box.selected .skill-letter {
  opacity: 1;
}

/*               */
/* Rune Selector */
/*               */

/* General rules for rune columns */
.rune-selector-column {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.3rem;
  padding: 4px 6px;
}

/* our primary rune path column */
.primary-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* Secondary rune column */
.secondary-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* Path and keystone images (next to each other) */
.path-and-keystone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Keystone images */
.keystone-img {
  width: 40px;
  height: 40px;
}

/* Paths and keystones */
.rune-path-img,
.keystone-img,
.empty-rune-path-slot,
.empty-keystone-slot {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minor-rune-img,
.empty-minor-rune-slot {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
}

.minor-rune-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.minor-rune-dropdown select {
  font-size: 0.6rem;
  padding: 2px 4px;
}


/* Item Selector CSS*/

/* Our images and empty item slot CSS */
.item-img,
.empty-item-slot {
  width: 48px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  display: inline-block;
}

/* Our layout for the grid- three columns, two rows */
.item-selector-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

/* Our item slots themselves, centering above dropdown */
.item-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

/*               */
/* Settings Page */
/*               */

.settings-page {
  width: 800px;
  margin: 50px auto 100px;
  padding: 20px 30px 40px;
  background-color: rgba(85, 172, 238, 0.56);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box;
  color: white;
}

.settings-title {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

.password-reset,
.premium-status {
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.settings-page button {
  cursor: pointer;
  background-color: #55acee;
  color: white;
  border: none;
  align-self: center;
}

.settings-page button:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
}